# Entornos virtuales
.env
.venv
env/
venv/
ENV/

# Archivos de cache y temporales de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Coso de carpeta de Playwright
perfil_playwright/*
perfil_playwright/